web/WEB-INF/wsdl/localhost_8084/Crystal_BLL/Crystal_Logic_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BLL/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BLL/" name="Crystal_Logic_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://dll_WebService/" schemaLocation="http://localhost:8084/Crystal_BLL/Crystal_Logic_Service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://BLL/" schemaLocation="http://localhost:8084/Crystal_BLL/Crystal_Logic_Service?xsd=2" />
</xsd:schema>
</types>
<message name="branch">
<part name="parameters" element="tns:branch" />
</message>
<message name="branchResponse">
<part name="parameters" element="tns:branchResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="Login">
<part name="parameters" element="tns:Login" />
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse" />
</message>
<portType name="Crystal_Logic_Service">
<operation name="branch">
<input wsam:Action="http://BLL/Crystal_Logic_Service/branchRequest" message="tns:branch" />
<output wsam:Action="http://BLL/Crystal_Logic_Service/branchResponse" message="tns:branchResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://BLL/Crystal_Logic_Service/helloRequest" message="tns:hello" />
<output wsam:Action="http://BLL/Crystal_Logic_Service/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="Login">
<input wsam:Action="http://BLL/Crystal_Logic_Service/LoginRequest" message="tns:Login" />
<output wsam:Action="http://BLL/Crystal_Logic_Service/LoginResponse" message="tns:LoginResponse" />
</operation>
</portType>
<binding name="Crystal_Logic_ServicePortBinding" type="tns:Crystal_Logic_Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="branch">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Crystal_Logic_Service">
<port name="Crystal_Logic_ServicePort" binding="tns:Crystal_Logic_ServicePortBinding">
<soap:address location="http://localhost:8084/Crystal_BLL/Crystal_Logic_Service" />
</port>
</service>
</definitions>